:root {
--tree-color: #D3732E;
--white-color: #fff;
--kettle-color: #a01e49;
--kettle-highlight: #e7e7e7;
--kettle-accent: #e050e0;
--sun-color: #F4ED88;
--sun-border: #F0E326;
--bg-color: #AEBE8D;
--sky-color: #5c8ce6;
}

.task1 {
display: flex;
justify-content: center;
align-items: center;
}

.background {
width: 200px;
height: 200px;
background: var(--bg-color);
position: relative;
}

.scene {
  position: relative;
  width: 100%;
  height: 100%;
  top: -2.5%; 
}

.window {
width: 50%;
height: 50%;
background: var(--white-color);
position: absolute;
left: 25%;
top: 19%;
z-index: 2;
}

.sky {
width: 90%;
height: 80%;
background: radial-gradient(circle at center, #d3d8e2, #5084e4);
position: absolute;
left: 5%;
top: 5%;
}

.kettle-body {
width: 54%;
height: 34%;
background: radial-gradient(circle at 30% 35%, var(--kettle-highlight) -20%, var(--kettle-color) 62%);
border-radius: 100% 80%;
position: absolute;
left: 23%;
top: 51%;
}

.kettle-nouse {
width: 10%;
height: 20%;
transform: skew(75deg) rotate(80deg);
background: rgb(204, 35, 91);
position: absolute;
left: 25%;
top: 53%;
}

.kettle-cap {
width: 25%;
height: 20%;
background: radial-gradient(circle at 35% 25%, var(--kettle-highlight) -10%, var(--kettle-color) 60%);
border-radius: 100% 70%;
position: absolute;
left: 36%;
top: 42%;
}

.kettle-cap-hand {
width: 10%;
height: 6%;
background: rgb(228, 68, 175);
border-radius: 100% 70%;
position: absolute;
left: 43%;
top: 38%;
}

.kettle-ring {
width: 14%;
height: 14%;
border: 3px solid var(--kettle-accent);
border-radius: 50%;
position: absolute;
left: 65%;
top: 55%;
}

.sunny {
width: 30%;
height: 30%;
background-color: var(--sun-color);
border-radius: 0;
border-bottom-left-radius: 100%;
position: absolute;
left: 65%;
top: 5%;
}

.sunny-ring {
width: 100%;
height: 100%;
border: 2px solid var(--sun-border);
border-top: none;
border-right: none;
border-radius: 0;
border-bottom-left-radius: 100%;
}

.table-panel {
width: 45%;
height: 7.5%;
background: var(--tree-color);
position: absolute;
left: 27.5%;
top: 59%;
z-index: 3;
}

.table-leg {
width: 7.5%;
height: 25%;
background: var(--tree-color);
position: absolute;
left: 46.5%;
top: 62.5%; 
border-radius: 40px/100px;
z-index: 3;
}

.table-support {
  width: 0;
  height: 0;
  border-left: 20px solid transparent; 
  border-right: 20px solid transparent;
  border-bottom: 40px solid var(--tree-color); 
  position: absolute;
  left: 40%; 
  top: 80%; 
}

.chair-left-leg,
.chair-right-leg {
width: 4%;
height: 20%;
background: var(--tree-color);
position: absolute;
top: 80%;
}

.chair-left-leg { left: 21.5%; }
.chair-right-leg { left: 76%; }

.chair-left-seat,
.chair-right-seat {
width: 20%;
height: 4%;
background: var(--tree-color);
position: absolute;
top: 79%;
}

.chair-left-seat { left: 9%; }
.chair-right-seat { left: 72.5%; }

.chair-left-back,
.chair-right-back {
width: 10%;
height: 45%;
border: 8px solid var(--tree-color);
border-top: none;
border-bottom: none;
position: absolute;
top: 55%;
}

.chair-left-back {
border-left: none;
border-radius: 20px 50px 50px 20px;
left: -2.5%;
}

.chair-right-back {
border-right: none;
border-radius: 50px 20px 20px 50px;
left: 178px;
}

.chair-decoration-container {
display: flex;
gap: 10px;
justify-items: flex-end;
position: relative;
top: 1.5px;
}

.chair-decoration-figure {
width: 5px;
height: 5px;
background-color: #50300c;
border-radius: 50%;
}

.chair-decoration-container__left { right: 2px; }
.chair-decoration-container__right { left: 5px; }

.figure {
width: 15px;
height: 15px;
border: 3px solid var(--white-color);
border-radius: 50%;
}

.figure-container-right {
position: absolute;
right: 21%;
top: 19%;
}

.figure-container-top {
display: flex;
gap: 0;
position: absolute;
left: 25%;
top: 13.75%;
}

.figure-container-left {
position: absolute;
left: 21%;
top: 19%;
}